<div>
  @if(isLoading) {
  <div class='flex flex-column justify-content-center align-items-center'>
    <p-progressSpinner ariaLabel="loading"></p-progressSpinner>
    <span class='text-2xl'>Loading...</span>
  </div>
  }
</div>

@if(!isLoading) {
<div class='flex justify-content-start mt-5 ml-8 align-items-center'>
  <input type="text" pInputText class='' name='email' placeholder='Find some products...'
    (input)="searchProduct($event)" />
</div>
}

<div class="product-field">
  @for (product of products$ | async; track product) {
  <a routerLink="detail/{{product.id}}">
    <div class="product-block hover:shadow-7">
      <p-card header="{{product.name}}">
        <img [src]='product.image_url' class="border-bottom-3 border-black-alpha-10"
          [style]="{width: '260px', height: '196px'}" [alt]="product.name">
        <div class="flex justify-content-between align-items-center">
          <p class="font-bold text-xl text-red-400">{{ product.price }}$</p>
          <p>{{ product.region }}</p>
        </div>
        <div class="flex justify-content-between align-items-center">
          <p>Add:</p>

          <div class="flex align-items-center gap-5">
            @if(isProductInLiked(product)) {
            <button class="bg-red-400 px-2 border-round product-button" [disabled]='true'>
              <i class="pi pi-heart-fill py-1" style="font-size: 1.1rem; color: #fff"></i>
            </button>
            } @else {
            <button class="bg-black-alpha-60 px-2 border-round product-button" (click)='addToLiked($event, product)'
              [disabled]='disabled'>
              <i class="pi pi-heart py-1" style="font-size: 1.1rem; color: #fff"></i>
            </button>
            }

            <button class="bg-green-400 px-2 border-round product-button" (click)="addToCart($event, product)"
              [disabled]='isProductInCart(product)'>
              @if(isProductInCart(product)) {
              <i class="pi pi-check-square py-1" style="font-size: 1.1rem; color: #fff"></i>
              } @else {
              <i class="pi pi-shopping-cart py-1" style="font-size: 1.1rem; color: #fff"></i>
              }
            </button>
          </div>
        </div>
      </p-card>
    </div>
  </a>
  }
</div>

<p-toast />