<div class="m-5">
  <app-back-button buttonText="Back"/>
</div>

<div>
  @if(likedProducts.length === 0) {
    <p class="text-center text-xl text-black-alpha-50">There is nothing here...</p>
  }
</div>

<div class='flex justify-content-center align-items-center wrapper'>
  <div class='flex flex-row flex-wrap'>
    @for(product of likedProducts; track product) {
    <a routerLink="/products/detail/{{product.id}}">
      <p-card class='m-4 card-block'>
        <img [src]="product.image_url"  loading="lazy" [alt]="product.name" class='small-img'>
        <h1 class='text-xl'>{{product.name}}</h1>
        <button class='remove' (click)="removeFromLiked($event, product.id)">Remove</button>
      </p-card>
    </a>
    }
  </div>
</div>
