.small-img {
	width: 120px;
}

.remove {
	border: none;
	background: var(--main-red-light);
	color: white;
	text-transform: uppercase;
	padding: 0.2rem 1rem;
	border-radius: 2px;
	transition: all 0.2s ease-in-out;
	cursor: pointer;

	&:hover {
		transform: scale(1.030);
		background: var(--main-red);
	}

	&:active {
		transform: scale(1);
		background: var(--main-red-dark);
	}
}