<div class="m-5">
  <button class='back-button' (click)="goBack()">Back</button>
</div>

<div>
  @if(isLoading) {
  <div class='flex flex-column justify-content-center align-items-center'>
    <p-progressSpinner ariaLabel="loading"></p-progressSpinner>
    <span class='text-2xl'>Loading...</span>
  </div>
  }
</div>

<div>
  @if (product$ | async; as product) {
  <p-card>
    <div class="flex align-items-center">
      <img class="detail-img" [src]="product[0].image_url" [alt]="product[0].name"
        (click)="showModal(product[0].image_url)">
      <div>
        <h1 class="text-red-400 underline">{{ product[0].name }}</h1>
        <p class="text-2xl font-light">Description: {{ product[0].description }}</p>
        <h2 class="text-red-400 text-4xl">{{ product[0].price }}$</h2>
        <div class="flex gap-2">
          <button class="add-to-cart" (click)="addToCart(product[0])"
            [disabled]="addToCartButtonState === 'Already in cart'">
            {{ addToCartButtonState }}
          </button>
          @if(!buttonActive) {
          <button class="add-to-cart" (click)="orderProducts()">Order now</button>
          }
        </div>
      </div>
    </div>
    <div class="flex flex-wrap">

    </div>
  </p-card>
  }
</div>

<p-dialog header="Coffee Bean" [(visible)]="visible" [modal]="true">
  <img src="{{currentImg}}" style="width: 50vw" />
</p-dialog>