<div class="header-menu">

  <a routerLink="/products/liked">
    <div class="header-liked relative">
      <i class="pi pi-heart" style="font-size: 2rem; color: #fff"></i>
      <div class='absolute bg-white text-black px-1 border-round top-0 right-0'>
        {{ likedCount }}
      </div>
    </div>
  </a>

  <div class="header-cart relative" (click)="showDialog()">
    <i class="pi pi-shopping-cart" style="font-size: 2rem; color: #fff"></i>
    <div class='absolute bg-red-200 px-1 border-round top-0 right-0'>
      {{ count }}
    </div>
  </div>
</div>

<div class='cart relative'>
  <p-dialog header="Cart" [(visible)]="visible" [modal]="true" class='cart'>
    @if (products.length !== 0) {
      <div class='flex justify-content-between align-items-center mb-8'>
        <button class='order-button' (click)="goToOrder()">Order now</button>
        <div class="flex justify-content-center align-items-center gap-3">
          <p class="underline">Clear cart:</p>
          <button class="clear-cart" (click)="clearCart()">
            <i class="pi pi-cart-minus"></i>
          </button>
        </div>
      </div>
    }
    <app-cart/>
  </p-dialog>
</div>
