.header-menu {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 20px;
  padding: 10px 55px;
  background: #fff;

  .header-liked {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--main-red);
    padding: 7px;
    border-radius: 50%;
    cursor: pointer;
    transition: all .2s ease-in-out;

    &:hover {
      transform: scale(1.025);
      background: var(--main-red-light);
    }

    &:active {
      transform: scale(1);
      background: var(--main-red-dark);
    }
  }

  .header-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--main-black);
    padding: 7px;
    border-radius: 50%;
    cursor: pointer;
    transition: all .2s ease-in-out;

    &:hover {
      transform: scale(1.025);
      background: var(--main-black-light);
    }

    &:active {
      transform: scale(1);
      background: var(--main-black);
    }
  }
}

.order-button {
  background: var(--main-green);
  text-transform: uppercase;
  margin-bottom: 5rem;
  font-size: 20px;
  border: none;
  color: white;
  padding: 0.5rem 2rem;
  cursor: pointer;
  border-radius: 5px;
  transition: all .2s ease-in-out;

  &:hover {
    transform: scale(1.025);
    background: var(--main-green-dark);
  }

  &:active {
    transform: scale(1);
    background: var(--main-green);
  }

  &:focus {
    outline: none;
  }
}

.cart {
  max-width: 500px;
}