.cart-img {
	width: 10%;
}

.cart-block {
	max-width: 1200px;
}

.plus-cart {
	background: var(--main-green);
	font-size: 20px;
	border: none;
	border-radius: 5px;
	transition: all 0.2s ease-in-out;
	cursor: pointer;

	&:hover {
		transform: scale(1.050);
		background: var(--main-green-dark);
		color: white;
	}

	&:active {
		transform: scale(1);
		background: var(--main-green);
	}
}

.minus-cart {
	padding: 0 8px;
	background: var(--main-yellow);
	font-size: 20px;
	border: none;
	border-radius: 5px;
	transition: all 0.2s ease-in-out;
	cursor: pointer;

	&:hover {
		transform: scale(1.050);
		background: var(--main-yellow-dark);
		color: white;
	}

	&:active {
		transform: scale(1);
		background: var(--main-yellow);
	}
}

.delete-from-cart {
	background: var(--main-red-light);
	color: white;
	font-size: 20px;
	border: none;
	border-radius: 5px;
	transition: all 0.2s ease-in-out;
	cursor: pointer;

	&:hover {
		transform: scale(1.050);
		background: var(--main-red-dark);
		color: white;
	}

	&:active {
		transform: scale(1);
		background: var(--main-red);
	}
}


